Let's first Import the needed modules

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Then I define the directory of the files

In [2]:
DataFolderPath="C:/Users/behzad/Dropbox/_2_Teaching Activities/_0_EETBS- On-going/Datadriven building Lessons/Files to GIT/Data"
ConsumptionFileName = "consumption_5545.csv"

Now lets read the consumption data

In [7]:
ConsumptionFilePath= DataFolderPath+"/"+ConsumptionFileName
DF_consumption = pd.read_csv(ConsumptionFilePath,sep=",",index_col=0)
previousIndex= DF_consumption.index
NewparsedIndex = pd.to_datetime(previousIndex)
DF_consumption.index= NewparsedIndex
DF_JulyfirstTillthird = DF_consumption["2014-07-01 00:00:00":"2014-07-03 23:00:00"]
DF_JulyfirstTillthird.head(5)

                     air conditioner_5545
2014-07-01 00:00:00            720.750000
2014-07-01 01:00:00            533.666667
2014-07-01 02:00:00            492.800000
2014-07-01 03:00:00            220.266667
2014-07-01 04:00:00            138.483333

Descibe gives me more information

In [6]:
DF_JulyfirstTillthird.describe()

       air conditioner_5545
count             72.000000
mean             853.558102
std              911.028173
min                0.000000
25%                0.000000
50%              525.991667
75%             1542.450000
max             2667.400000

## plotting